@model FootWear.Models.Entity.SHORE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SHORE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BRAND.BRAND_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRAND.BRAND_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_SIZE.SIZE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_SIZE.SIZE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLOR.COLOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLOR.COLOR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE.TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE.TYPE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTIONS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTIONS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

    </dl>
    
    }
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
