@model IEnumerable<FootWear.Models.Entity.COLOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Colors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOR_NAME)
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_COLOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLOR_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_COLOR }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.ID_COLOR })
        </td>
    </tr>
}

</table>
