@model IEnumerable<FootWear.Models.Entity.TYPE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Styles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_NAME)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_TYPE }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_TYPE }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_TYPE })
        </td>
    </tr>
}

</table>
